.footer {
	min-height: 10vh;
	overflow: hidden;
}
.footer__box {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 10vh;
	background-color: rgba(0, 0, 0, 0.479);
}

.slide-up {
	animation: slide-up 0.5s forwards;
}
@keyframes slide-up {
	from {
		transform: translateY(100px);
	}
	to {
		transform: translateY(0px);
	}
}
