.navbar {
	position: relative;
	height: 10vh;
	font-size: 1.5rem;
	text-transform: uppercase;
	z-index: 10;
}
.navbar a {
	text-decoration: none;
}
.navbar__box {
	display: grid;
	height: 100%;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(1, 100%);
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
.navbar__mobile {
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
	padding-bottom: 2rem;
}

.navbar__desktop {
	grid-column: 4/ 2;
	display: flex;
	gap: 40px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.navbar__myphoto img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.navbar__desktop-option {
	cursor: pointer;
	letter-spacing: 2px;
}
.navbar__darkmode {
	position: absolute;
	top: 10px;
	right: 20px;
	padding: 1rem;
	z-index: 10;
}
.pause-audio-btn {
	position: relative;
	background: transparent;
	border: none;
	cursor: pointer;
	top: 15px;
}

.navbar__darkmode-button {
	position: relative;
	width: 80px;
	height: 40px;
	border: none;
	border-radius: 20px;
	background: transparent;
	cursor: pointer;
}
.pause-audio-btn img {
	width: 40px;
	height: 27px;
}
.navbar__darkmode-button img {
	width: 40px;
	height: 30px;
}

.navbar__darkmode-button-dark,
.navbar__darkmode-button-light {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 6px;
	width: 30px;
	height: 28px;
	border-radius: 50%;
	border: none;
	opacity: 0;
}

.navbar__darkmode-button-light {
	right: 6px;
	opacity: 1;
}

@media only screen and (max-width: 1030px) {
	.navbar__desktop {
		font-size: 1.3rem;
	}
}
@media only screen and (max-width: 925px) {
	.navbar__desktop {
		font-size: 1rem;
	}
	.navbar__darkmode-button {
		width: 65px;
		height: 30px;
	}
	.pause-audio-btn img {
		width: 27px;
		height: 23px;
	}
	.navbar__darkmode-button img {
		width: 30px;
		height: 25px;
	}
}

@media only screen and (max-width: 778px) {
	.navbar {
		background-color: transparent;
	}
	.navbar__mobile {
		position: absolute;
		width: 100%;
		display: block;
		font-size: 2.5rem;
		cursor: pointer;
		z-index: 2;
	}
	.navbar__burger {
		position: relative;
		top: 25px;
		padding-left: 2rem;
	}
	.navbar__mobile-burger {
		color: rgb(243, 213, 152);
	}
	.navbar__mobile-box {
		position: absolute;
		width: 100%;
		font-size: 1rem;
		background-color: rgba(0, 0, 0, 1);
		margin-top: 1rem;
		z-index: 100;
	}
	.mobile-gitlink {
		margin-bottom: 1rem;
	}

	.navbar__mobile-option {
		padding: 0.5rem 2rem;
	}
	.navbar__desktop {
		display: none;
	}
}

@keyframes offmoon {
	from {
		transform: translate(0);
		opacity: 1;
	}
	to {
		transform: translate(40px);
		opacity: 0;
	}
}
@keyframes onmoon {
	from {
		transform: translate(40px);
		opacity: 0;
	}
	to {
		transform: translate(0);
		opacity: 1;
	}
}
@keyframes onsun {
	from {
		transform: translate(-40px);
		opacity: 0;
	}
	to {
		transform: translate(0px);
		opacity: 1;
	}
}
@keyframes offsun {
	from {
		transform: translate(0);
		opacity: 1;
	}

	to {
		transform: translate(-40px);
		opacity: 0;
	}
}
.off-animation {
	animation: offmoon 0.3s forwards;
}
.on-animation {
	animation: onmoon 0.3s forwards;
}
.on-sun-animation {
	animation: onsun 0.3s forwards;
}
.off-sun-animation {
	animation: offsun 0.3s forwards;
}

@keyframes openmenu {
	from {
		transform: translateY(-10px);
		opacity: 0;
	}
	to {
		transform: translatey(0);
		opacity: 1;
	}
}

@keyframes closemenu {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translatey(-10px);
		opacity: 0;
	}
}
.open-menu {
	animation: openmenu 0.4s forwards;
}
.close-menu {
	animation: closemenu 0.4s forwards;
}

@keyframes slide-down {
	from {
		transform: translateY(-100px);
	}
	to {
		transform: translateY(0px);
	}
}

.slide-down {
	animation: slide-down 0.5s forwards;
}
