:root {
	--main-backgorund-color: linear-gradient(
		27deg,
		rgb(2, 1, 17) 15%,
		rgb(58, 63, 75) 100%
	);
	--font-color: rgb(154, 59, 97);
	--buttons-color: #ebacbc;
	--buttons-hover-color: #e38589;
	--disabled-color: #d1cfcf;
	--main-text: 'Open Sans', sans-serif;
	--bold-text: 'Roboto', sans-serif;
}
html {
	height: 100%;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--font-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
#dark {
	background: var(--main-backgorund-color);
}
#light {
	background: white;
}

.margin-section {
	margin: 1rem;
}
