.project {
	min-height: 80vh;
	position: relative;
	display: flex;
	justify-content: center;
	background: rgba(0, 0, 0, 0.3);
}

.project__description-container-info {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.5rem;
}
.project__title {
	font-size: 2rem;
	margin: 2rem 0;
}
.project__link-git a,
.project__link-page a {
	text-decoration: none;
	color: var(--font-color);
	transition: color 0.3s;
}
.project__link-git a:hover,
.project__link-page a:hover {
	color: white;
}
.project__description-container-steps {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.project__description-container-step {
	margin: 2rem 2rem;
	width: 900px;
	min-height: 500px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.8);
}

.project__description-icons {
	display: flex;
	justify-content: space-around;
	margin: 2rem 0;
	padding: 0 1rem;
}
.project__description-icons img {
	width: 35px;
	height: 35px;
}
.project__description-text {
	text-align: center;
	font-size: 1.2rem;
	line-height: 1.6rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0.5rem 2rem;
	color: white;
}
.project__description-img {
	display: flex;
	justify-content: center;
}
.project__description-img img {
	width: 650px;
	height: 320px;
	border-radius: 10px;
	margin-bottom: 2rem;
	cursor: pointer;
	transition: transform 0.3s;
}
.project__description-img img:hover {
	transform: scale(1.05);
}

@media only screen and (max-width: 1000px) {
	.project__description-container-step {
		width: 700px;
		min-height: 420px;
	}
	.project__description-img img {
		width: 550px;
		height: 250px;
	}
}
@media only screen and (max-width: 780px) {
	.project__description-container-step {
		width: 500px;
		min-height: 400px;
	}
	.project__description-img img {
		width: 370px;
		height: 230px;
		margin-bottom: 2rem;
	}
}
@media only screen and (max-width: 580px) {
	.project__title {
		font-size: 1.4rem;
	}
	.project__description-container-info {
		margin-left: 0;
	}
	.project__description-text {
		font-size: 1rem;
		margin-top: 0.3rem;
		margin-bottom: 0.3rem;
	}
	.project__description-container-step {
		margin: 1rem;
		width: 350px;
		min-height: 350px;
	}
	.project__description-img img {
		width: 280px;
		height: 210px;
		margin-bottom: 2rem;
	}
}
@media only screen and (max-width: 420px) {
	.project__description-container-step {
		width: 370px;
		min-height: 350px;
	}
	.project__description-img img {
		width: 280px;
		height: 180px;
	}
}
@media only screen and (max-width: 375px) {
	.project__description-container-step {
		width: 340px;
	}
	.project__description-img img {
		width: 270px;
	}
}
@media only screen and (max-width: 350px) {
	.project__description-container-step {
		width: 290px;
	}
	.project__description-img img {
		width: 230px;
	}
}